.services.ar{
    direction: rtl;
}
.services > div:first-of-type{
    /* position: sticky;
    top: 40px; */
    margin-bottom: 0 !important;
    z-index: 2;
}
.services > div:nth-child(2) > p{
    background-color: #fff;
    padding: 20px;
    border-radius: 0px 0px 40px 40px;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    box-shadow: var(--main-shadow);
}
.services .section{
    margin-top: 20px;
    margin-bottom: 40px;
}
.services .section h2{
    background-color: var(--sec-color);
    border-radius: 20px 20px 0px 0px;
    padding: 10px 20px;
    color: #000;
    text-align: center;
    position: sticky;
    top: 51px;
    z-index: 3;
    box-shadow: var(--main-shadow);
}
.services .section .cards{
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    /* border-radius: 0px 0px 20px 20px; */
    gap: 40px;
    overflow: hidden;
    padding: 20px 0px;
}
@media (max-width: 992px) {
    .services .section .cards{
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}
@media (max-width: 600px) {
    .services .section .cards{
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}
.services .card{
    background-color: #fff;
    border: 1px solid #eee;
    /* padding: 30px; */
    transition: var(--animation-transition);
    transition-duration: 0.4s;
    /* text-align: center; */
    box-shadow: var(--sec-shadow);
    position: relative;
    border-radius: 30px;
    min-height: 60px;
    cursor: pointer;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.services.ar .card{
    /* flex-direction: row-reverse; */
}
.services .card:has(button.clicked){
    height: 500px;
}
.services .card .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000039;
    backdrop-filter: blur(20px);
    transition: var(--animation-transition);
    filter: grayscale(100%);
    transition-duration: 0.3s;
    border-radius: 30px;
}
.services .card:has(button.clicked) .overlay{
    opacity: 0;
}
.services .card .cardIcon{
    transition: var(--main-transition);
    width: 50%;
    height: 400px;
    /* background-color: var(--bg-color); */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
    overflow: hidden;
    padding: 60px 0px 0px 0px ;
}
.services .card .cardIcon img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 30px;
}
.services .card button{
    font-weight: bold;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    transition: var(--animation-transition);
    transition-duration: 0.3s;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
    background-color: var(--main-color);
    width: 100%;
    padding: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    z-index: 2;
}
.services .card:has(button.clicked) button{
    background-color: var(--main-trans-color);
    backdrop-filter: blur(20px);
    /* top: calc(100% - 110px); */
    height: 60px;
    /* transform: translate(-50%,-100%); */

}
.services .card button span{
    font-size: 20px;
    pointer-events: none;
}
.services .card button svg{
    color: var(--sec-color);
    font-size: 30px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    transition: var(--main-transition);
    pointer-events: none;
}
.services .card:has(button.clicked) button svg{
    transform: rotateZ(180deg);
}
.services .card p{
    /* margin-bottom: 20px; */
    /* height: 0; */
    /* position: absolute;
    left: 0;
    bottom: 0; */
    overflow: hidden;
    /* height: 60px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    padding: 20px;
    transition: var(--animation-transition);
    transition-duration: 0.3s;
    transform: translateY(100%);
    filter: blur(20px);
    width: 50%;
    height: 100%;
    gap: 10px;
}
.services .card p span:first-child{
    font-size: 22px;
    font-weight: bold;
}
.services .card:has(button.clicked) p{
    transform: translateY(0%);
    filter: blur(0px);
}
.services .card a{
    background-color: var(--main-color);
    color: #fff;
    border-radius: 30px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: var(--main-transition);
    border: 1px solid #ddd;
}
.services .card a svg{
    transition: var(--main-transition);
    color: #fff;
    font-size: 20px;
}
.services .card a:hover{
    gap: 20px;
}
@media (max-width: 992px) {
    .services .section h2{
        top: 50px;
    }
    
}
@media (max-width: 767px) {
    .services .card{
        flex-direction: column;
    }
    .services .card:has(button.clicked){
        padding-top: 70px;
    }
    .services .card .cardIcon,
    .services .card p{
        width: 100%;
    }
    .services .card p{
            height: fit-content;
    }
    .services .card:has(button.clicked) button{
        transform: translate(-50%, 0%);
    }
    
    .services .card button span{
        font-size: 18px;
    }
    .services .card .cardIcon{
        padding: 20px 0px;
    }
    .services .card p span:first-child{
        display: none;
    }
    .services .card .cardIcon img{
        width: 100%;
    }
    .services .section h2{
        top: 50px;
        font-size: 22px;
        padding: 10px;
    }
}