.services{
    /* padding-top: 50px; */
    padding-bottom: 100px;
}
.services > div:first-of-type{
    /* position: sticky;
    top: 40px; */
    margin-bottom: 0 !important;
    z-index: 2;
}
.services > div:nth-child(2) > p{
    background-color: #fff;
    padding: 20px;
    border-radius: 0px 0px 40px 40px;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    box-shadow: var(--main-shadow);
}
.services .section{
    margin-top: 20px;
    margin-bottom: 40px;
}
.services .section h2{
    background-color: var(--sec-color);
    border-radius: 20px 20px 0px 0px;
    padding: 10px 20px;
    color: #000;
    text-align: center;
    position: sticky;
    top: 51px;
    z-index: 3;
    box-shadow: var(--main-shadow);
}
.services .section .cards{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    border-radius: 0px 0px 20px 20px;
    gap: 20px;
    overflow: hidden;
    padding: 20px;
}
@media (max-width: 992px) {
    .services .section .cards{
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}
@media (max-width: 600px) {
    .services .section .cards{
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}
.services .card{
    background-color: #fff;
    border: 1px solid #eee;
    /* padding: 30px; */
    transition: var(--main-transition);
    text-align: center;
    box-shadow: var(--sec-shadow);
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    min-height: 60px;
    cursor: pointer;
}
.services .card .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000039;
    backdrop-filter: blur(20px);
    transition: var(--animation-transition);
    transition-duration: 0.3s;
    border-radius: 20px;
}
.services .card:hover .overlay{
    opacity: 0;
}
.services .card .cardIcon{
    transition: var(--main-transition);
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    overflow: hidden;
}
.services .card .cardIcon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services .card h4{
    font-size: 22px;
    font-weight: bold;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    transition: var(--animation-transition);
    transition-duration: 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--main-color);
    width: 100%;
    padding: 20px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services .card:hover h4{
    background-color: var(--main-trans-color);
    backdrop-filter: blur(10px);
    top: calc(100% - 120px);
}
.services .card p{
    /* margin-bottom: 20px; */
    /* height: 0; */
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 20px;
    background-color: #fff;
    transition: var(--animation-transition);
    transition-duration: 0.3s;
    transform: translateY(100%);
    border-radius: 0px 0px 20px 20px;
    filter: blur(20px);
}
.services .card:hover p{
    transform: translateY(0%);
    filter: blur(0px);
}
.services .card a{
    background-color: var(--main-color);
    color: #fff;
    border-radius: 8px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: var(--main-transition);
    border: 1px solid #ddd;
}
.services .card a svg{
    transition: var(--main-transition);
    color: #fff;
    font-size: 20px;
}
.services .card a:hover{
    gap: 20px;
}
@media (max-width: 992px) {
    /* .services > div:first-of-type{
        top: 50px;
    } */
    .services .section h2{
        top: 50px;
    }
    
}
@media (max-width: 767px) {
    .services .card{
        text-align: center;
    }
    /* .services > div:first-of-type{
        top: 30px;
    } */
    .services .section h2{
        top: 50px;
        font-size: 22px;
        padding: 10px;
    }
}