.datenschutz{
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 20px;
    background-color: #fff;
}
.datenschutz h3{
    margin-top: 10px;
}
@media (max-width: 767px) {
    .datenschutz{
        font-size: 18px;
    }
}