.hero{
    position: relative;
    isolation: isolate;
    overflow: hidden;
    min-height: calc(100vh - 150px);
    /* margin-top: 248px; */
    /* background-color: var(--slider-bg); */
    background-image: url("../../../public/images/hero-bg-3.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.hero.ar{
    direction: rtl;
}
.hero .swiper{
    position: relative;
}
.hero .slide{
    position: relative;
    min-height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff67;
    backdrop-filter: blur(40px);
}
.hero .slide .text{
    width: 50%;
}
.hero .slide .text img{
    object-fit: contain;
    width: 300px;
    height: 150px;
}
.hero .slide .text h1{
    font-size: 50px;
}
.hero .slide .text p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.hero .slide .text a{
    padding: 10px 30px;
    border-radius: 20px;
    background-image: var(--main-gradient);
    color: #fff;
    transition: var(--main-transition);
}
.hero .slide .text a:hover{
    background-image: none;
    background-color: #fff;
    color: #000;
}
.hero .slide .img{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .slide > img{
    object-fit: contain;
    width: 40%;
    height: 500px;
}
.hero .swiper > button{
    /* position: absolute; */
    position: absolute;
    bottom: 20px;
    transform: translateY(-50%);
    z-index: 3;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #00000051;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    border: 1px solid transparent;
    display: none;
}
.hero .swiper > button:first-of-type{
    left: 50%;
    transform: translateX(-150%);
}
.hero .swiper > button:last-of-type{
    right: 50%;
    transform: translateX(150%);
}
.hero .swiper > button:hover{
    background-image: var(--main-gradient);
    border: 1px solid var(--sec-color);
}
.hero .heroPagination{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.hero .heroPagination span{
    background-color: #fff;
}
@media (max-width: 992px) {
    .hero .slide .text{
        width: 100%;
        padding-right: 40px;
        padding-left: 40px;
    }
    .hero .slide > img{
        display: none;
    }
}
@media (max-width: 767px) {
    .hero .slide .text{
        text-align: center;
    }
    .hero .slide .text img{
        margin-right: auto;
        margin-left: auto;
        display: block;
        width: fit-content;
    }
    .hero .slide .text h1{
        font-size: 34px;
        margin-top: 30px;
    }
    .hero .heroPagination{
        /* bottom: 60px; */
        transform: translateX(-50%) translateY(50%);
    }
    .hero .swiper > button{
        font-size: 14px;
        width: 30px;
        height: 30px;
        bottom: 15px;
    }
}