.verticalNav{
    position: fixed;
    right: 0;
    top: 0%;
    transform: translateY(0%);
    height: 0vh;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-color);
    backdrop-filter: blur(100px);
    border-left: 1px solid var(--main-color);
    transition: var(--main-transition);
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 10;
    overflow: hidden;
    display: none;
}
.verticalNav.shown{
    display: flex;
}
.verticalNav > *{
    margin-left: auto;
    margin-right: auto;
}
.verticalNav > :nth-child(2){
    margin-top: 10px;
}
.verticalNav h3{
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.verticalNav .links{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.verticalNav .links li{
    width: 100%;
}
.verticalNav .links li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
.verticalNav .links a{
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 34px;
    transition: var(--main-transition);
}
.verticalNav .links a.active,
.verticalNav .links a:hover{
    color: var(--main-color);
    font-weight: bold;
}
.verticalNav > :last-child{
    margin-right: 20px;
    margin-left: 20px;
}
.verticalNav .social{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
}
.verticalNav .social a{
    width: 40px !important;
    height: 40px !important;
}
.verticalNav .social svg{
    width: 20px !important;
    height: 20px !important;
}
.verticalNav .language{
    display: flex;
    align-items: center;
    justify-content: center;
}