
.garages{
    margin-top: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.garages h2{
    text-align: center;
}
.garages .wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.garages .wrapper .garage{
    width: calc((100% - 40px) / 3);
    background-color: #fff;
    box-shadow: var(--main-shadow);
    border-radius: 20px;
    border: 1px solid #ccc;
    height: fit-content;
}

.garages .wrapper .garageImg{
    height: 150px;    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.garages .wrapper .garageImg img{
    object-fit: contain;
    height: 100%;
}
.garages .wrapper h3{
    padding: 20px;
    height: 70px;
    background-color: var(--main-color);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: ltr !important;
    text-align: center;
}
.garages .wrapper ul{
    padding: 0px 20px 0px 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    list-style: disc;
}
.garages.ar .wrapper ul{
    padding: 0px 40px 0px 20px;
}
.garages .wrapper ul li{
    color: #000;
    margin-bottom: 10px;
}
.garages .wrapper ul li a{
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
.garages.ar .wrapper ul li a{
    direction: ltr !important;
}
.garages .wrapper .garage > a{
    display: block;
    background-color: var(--sec-color);
    border: 1px solid #000;
    color: #000;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 10px 10px;
    text-align: center;
    transition: var(--main-transition);
}
.garages .wrapper .garage > a:hover{
    background-color: #fff;
}

@media (max-width: 992px) {    
    .garages .wrapper .garage{
        width: calc((100% - 20px) / 2);
    }
}
@media (max-width: 600px) {
    .garages .wrapper .garage{
        width: 100%;
    }
}