.contact{
    padding-top: 50px;
    padding-bottom: 100px;
    border-top: 1px solid #ddd;
    box-shadow: var(--section-shadow);
    position: relative;
}
.contact.ar{
    direction: rtl;
}
.contact > div:nth-child(2){
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    opacity: 0;
    transform: translateY(100px);
    transition: var(--animation-transition);
    transition-delay: 0.7s;
}
.contact > div:nth-child(2){
    opacity: 1;
    transform: translateY(0px);
}
.contact > div:nth-child(2) > div{
    width: 100%;
}
.contact > div:nth-child(2) .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;

}
.contact > div:nth-child(2) .info > div{
    /* width: fit-content; */
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact > div:nth-child(2) .info > div:not(:last-child){
    border-bottom: 1px solid #c8c5cd;
}
.contact > div:nth-child(2) .info .address{
    display: flex;
    gap: 20px;
}
.contact > div:nth-child(2) .info .address span{
    background-color: var(--sec-color);
    border: 1px solid #000;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact > div:nth-child(2) .info .address address{
    border-left: 1px solid #c8c5cd;
    padding-left: 20px;
    place-content: center;
}
.contact.ar > div:nth-child(2) .info .address address{
    border-left: none;
    border-right: 1px solid #c8c5cd;
    padding-left: 0px;
    padding-right: 20px;
}
.contact .info .location{
    height: 400px;
    /* max-width: 50%; */
    width: 100%;
}
.contact > div:nth-child(2) .location iframe{
    border-radius: 20px;
    box-shadow: var(--sec-shadow);
    height: 400px;
    width: 700px;
    max-width: 100%;
}
.contact > div:nth-child(2) .garages{
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.contact > div:nth-child(2) .garages h2{
    text-align: center;
}
.contact > div:nth-child(2) .garages .wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.contact > div:nth-child(2) .garages .wrapper .garage{
    width: calc((100% - 40px) / 3);
    background-color: #fff;
    box-shadow: var(--main-shadow);
    border-radius: 20px;
    border: 1px solid #ccc;
    height: fit-content;
}

.contact > div:nth-child(2) .garages .wrapper .garageImg{
    height: 150px;    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.contact > div:nth-child(2) .garages .wrapper .garageImg img{
    object-fit: contain;
    height: 100%;
}
.contact > div:nth-child(2) .garages .wrapper h3{
    padding: 20px;
    height: 70px;
    background-color: var(--main-color);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact > div:nth-child(2) .garages .wrapper ul{
    padding: 0px 20px 0px 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    list-style: disc;
}
.contact > div:nth-child(2) .garages .wrapper ul li{
    color: #000;
    margin-bottom: 10px;
}
.contact > div:nth-child(2) .garages .wrapper ul li a{
    text-decoration: underline;
}
.contact > div:nth-child(2) .garages .wrapper .garage > a{
    display: block;
    background-color: var(--sec-color);
    border: 1px solid #000;
    color: #000;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 10px 10px;
    text-align: center;
    transition: var(--main-transition);
}
.contact > div:nth-child(2) .garages .wrapper .garage > a:hover{
    background-color: #fff;
}
.contact > div:nth-child(2) .directions{
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.contact > div:nth-child(2) .directions h2{
    text-align: center;
}
.contact > div:nth-child(2) .directions .wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.contact > div:nth-child(2) .directions .wrapper .method{
    width: calc((100% - 40px) / 3);
    border-radius: 20px;
    height: fit-content;
}

.contact > div:nth-child(2) .directions .wrapper .methodImg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.contact > div:nth-child(2) .directions .wrapper .methodImg svg{
    font-size: 100px;
    background-color: var(--sec-color);
    padding: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: var(--sec-shadow);
}
.contact > div:nth-child(2) .directions .wrapper h3{
    padding: 20px;
    height: 70px;
    background-color: var(--main-color);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
.contact > div:nth-child(2) .directions .wrapper ul{
    padding: 20px 20px 10px 40px;
    list-style: disc;
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid #ccc;
    box-shadow: var(--main-shadow);
}
.contact > div:nth-child(2) .directions .wrapper ul li{
    color: #000;
    margin-bottom: 10px;
}
.contact > div:nth-child(2) .directions .wrapper ul li a{
    text-decoration: underline;
}
@media (max-width: 992px) {
    .contact > div:nth-child(2){
        /* flex-direction: column; */
        gap: 40px;
    }
    .contact > div:nth-child(2) .info{
        max-width: 100%;
        align-items: center;
    }
    .contact > div:nth-child(2) .info > div{
        /* width: 100%; */
    }
    .contact > div:nth-child(2) .info .address{
        align-items: center;
    }

    .contact > div:nth-child(2) .location{
        /* height: 600px !important; */
        max-width: 100%;
        /* width: 70%; */
    }
    .contact > div:nth-child(2) .garages .wrapper .garage{
        width: calc((100% - 20px) / 2);
    }
}
@media (max-width: 600px) {
    .contact > div:nth-child(2){
        gap: 40px;
    }
    .contact > div:nth-child(2) .info{
        max-width: 100%;
        align-items: center;
    }
    .contact > div:nth-child(2) .location{
        /* height: 600px !important; */
        max-width: 100%;
        width: 100%;
    }
    .contact > div:nth-child(2) .info .address span svg{
        width: 100px !important;
    }
    .contact > div:nth-child(2) .garages .wrapper .garage{
        width: 100%;
    }
}