.contact{
    padding-top: 50px;
    padding-bottom: 100px;
    border-top: 1px solid #ddd;
    box-shadow: var(--section-shadow);
    position: relative;
}
.contact.ar{
    direction: rtl;
}
.contact > div:nth-child(2){
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    opacity: 0;
    transform: translateY(100px);
    transition: var(--animation-transition);
    transition-delay: 0.7s;
}
.contact > div:nth-child(2){
    opacity: 1;
    transform: translateY(0px);
}
.contact > div:nth-child(2) > div{
    width: 100%;
}
.contact > div:nth-child(2) .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;

}
.contact > div:nth-child(2) .info > div{
    /* width: fit-content; */
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact > div:nth-child(2) .info > div:not(:last-child){
    border-bottom: 1px solid #c8c5cd;
}
.contact > div:nth-child(2) .info .address{
    display: flex;
    gap: 20px;
}
.contact > div:nth-child(2) .info .address span{
    background-color: var(--sec-color);
    border: 1px solid #000;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact > div:nth-child(2) .info .address address{
    border-left: 1px solid #c8c5cd;
    padding-left: 20px;
    place-content: center;
}
.contact.ar > div:nth-child(2) .info .address address{
    border-left: none;
    border-right: 1px solid #c8c5cd;
    padding-left: 0px;
    padding-right: 20px;
}
.contact .info .location{
    height: 400px;
    /* max-width: 50%; */
    width: 100%;
}
.contact > div:nth-child(2) .location iframe{
    border-radius: 20px;
    box-shadow: var(--sec-shadow);
    height: 400px;
    width: 700px;
    max-width: 100%;
}
.contact > div:nth-child(2) .reachLink{
    width: fit-content;
    margin: 10px auto;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    max-width: 100%;
}
.contact > div:nth-child(2) .reachLink a{
    border-radius: 30px;
    background-color: var(--sec-color);
    color: #000;
    border: 1px solid #000;
    padding: 10px 30px;
    max-width: 100%;
    font-size: 20px;
    transition: var(--main-transition);
    box-shadow: var(--main-shadow);
}

.contact > div:nth-child(2) .reachLink a:hover{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    box-shadow: var(--sec-shadow);
}
@media (max-width: 992px) {
    .contact > div:nth-child(2){
        /* flex-direction: column; */
        gap: 40px;
    }
    .contact > div:nth-child(2) .info{
        max-width: 100%;
        align-items: center;
    }
    .contact > div:nth-child(2) .info > div{
        /* width: 100%; */
    }
    .contact > div:nth-child(2) .info .address{
        align-items: center;
    }

    .contact > div:nth-child(2) .location{
        /* height: 600px !important; */
        max-width: 100%;
        /* width: 70%; */
    }
}
@media (max-width: 600px) {
    .contact > div:nth-child(2){
        gap: 40px;
    }
    .contact > div:nth-child(2) .info{
        max-width: 100%;
        align-items: center;
    }
    .contact > div:nth-child(2) .location{
        /* height: 600px !important; */
        max-width: 100%;
        width: 100%;
    }
    .contact > div:nth-child(2) .info .address span svg{
        width: 100px !important;
    }
}