.langSwitch{
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: var(--main-shadow); */
    direction: ltr !important;
    text-decoration: none;
    overflow: hidden;
    height: 30px;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 20px;
}
.langSwitch, .langSwitch:focus, .langSwitch:focus-visible, .langSwitch:active{
    border: 1px solid var(--main-color);
}
.langSwitch span{
    width: calc(100% / 3);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
    border-bottom: 4px solid transparent;
    border-bottom: 4px solid var(--main-color);
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}
.langSwitch span:hover,
.langSwitch span.active{
    /* background-image: var(--main-gradient); */
    background-color: var(--sec-color);
    border-bottom: 4px solid var(--main-color);
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}
@media (max-width: 1200px) {
    .langSwitch{
        font-size: 12px;
    }
    .langSwitch, .langSwitch:focus, .langSwitch:focus-visible, .langSwitch:active{
        /* border: 1px solid var(--main-color); */
        font-size: 12px;
    }
}