.mainHeading{
    position: relative;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    margin-bottom: 30px;
}
.mainHeading h2{
    text-align: center;
    font-size: 40px;
    color: #fff;
    background-color: var(--main-color);
    background-image: var(--main-gradient);
    padding: 5px 20px;
    border-radius: 40px 40px 0px 0px;
    min-width: 300px;
    /* max-width: calc(100vw - 80px); */
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-top: 3px solid var(--sec-color);
    border-bottom: 3px solid var(--sec-color);
}
.mainHeading.inverted h2{
    color: var(--bg-color);
}
.mainHeading p{
    background-color: #fff;
    padding: 20px;
    border-radius: 0px 0px 40px 40px;
    max-width: 70vw;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    box-shadow: var(--main-shadow);
}
@media (max-width: 767px) {
    .mainHeading{
        /* width: 100%; */
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .mainHeading h2{
        font-size: 28px;
        width: 100%;
    }
}